{% extends 'base.html' %}

{% block content %}
 


{% if user.is_authenticated %}

<table class="table table-striped table-hover table-bordered">
  <thead class = "table-warning">
    <tr>
      <th scope="col">Razao Social</th>
      <th scope="col">Nome Fantasia</th>
      <th scope="col">CNPJ</th>
      <th scope="col">CEP</th>
      <th scope="col">Logradouro</th>
      <th scope="col">Complemento</th>
      <th scope="col">Bairro</th>
      <th scope="col">Municipio</th>
      <th scope="col">UF</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone Fixo</th>
      <th scope="col">Criado Em</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody">
    
{% if records %}
  {% for record in records %}
      <tr>
      <td>{{ record.razao_social }}</td>
      <td>{{ record.nome_fantasia }}</td>
      <td>{{ record.cnpj }}</td>
      <td>{{ record.cep }}</td>
      <td>{{ record.logradouro }}</td>
      <td>{{ record.complemento }}</td>
      <td>{{ record.bairro }}</td>
      <td>{{ record.municipio }}</td>
      <td>{{ record.uf }}</td>
      <td>{{ record.email }}</td>
      <td>{{ record.telefone_fixo }}</td>
      <td>{{ record.created_at }}</td>
      <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>

    </tr>
  {% endfor %}

{% endif %}
   

    </tbody>
  </table>






{% else %}
<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}
	
  <div class="mb-3">
    
    <input type="text" class="form-control" name="username", placeholder="Usuario" required>
    
  </div>
  <div class="mb-3">
    
    <input type="password" class="form-control" name="password", placeholder="Senha" required>
  </div>
  
  <button type="submit" class="btn btn-secondary">Entrar</button>



</form>



{% endif %}

{% endblock %}